section#firstPage.special.job-list.section(data-scrollax-parent='true', style='display:none')
  .content.row.align-middle(data-scrollax="properties: { 'translateX': '-20%' }")
    .large-4.show-for-large.columns
    .small-12.large-4.columns.description.xor-panel-mobile
      header
        h3
          | #{locals.config.tokens.menu.YOU.toUpperCase()}&quest;
        p.jobs_inset_shadow
          | #{locals.config.tokens.jobs._INFO}
        ul.menu.simple.vertical.job_list_items
          li
            a(href='#', name='scala') #{locals.config.tokens.jobs.I}.code("Scala")
          li
            a(href='#', name='scala-jr') #{locals.config.tokens.jobs.I}.start("Scala")
          li
            a(href='#', name='frontend') #{locals.config.tokens.jobs.I}.code("Frontend")
          li
            a(href='#', name='bigdata') #{locals.config.tokens.jobs.I}.code("BigData")
    .small-12.large-4.columns.slide-in.panel-wrapper.hide-on-mobile
      .panel-container.normalscroll
        .panel-content
          .close-button x
          //.arrow-left
          #scala_content.panel-content-item
            include jobs/job_scala
          #scala-jr_content.panel-content-item
            include jobs/job_scala-jr
          #frontend_content.panel-content-item
            //case config.locale
            //  when 'en'
            //    include:marked ../content/en/jobs/job_frontend.md
            //  default
            //    include:marked ../content/nl/jobs/job_frontend.md
            +include_jobs_job_frontend
          #bigdata_content.panel-content-item
            include:marked jobs/job_bigdata.md
    #jobs_background
      img('src=jobs_background.svg')
