section#secondPage.special.section(data-scrollax-parent='true')
  .slide(data-anchor="ourstuff")
    .row
      .small-12.large-2
      .small-12.large-8
        .talkscontainer.normalscroll(style="margin-left:4vw")
          - var talks = require('../data/talks.json')
          div(style="width:100%")
            center
              h3 Videos
            #gallery-video(style="display:none;")
              each video in talks.videos
                div(data-type="youtube",data-videoid=video.id,data-title=video.title,data-description=video.description)
      .small-12.large-2
  .slide(data-anchor="ourstuff")
    .small-12.large-12
      center
        header
          h2 Our Stuff
      .blogcontainer.normalscroll
        - var blogs = require('../data/blogs.json')
        each blog in blogs
          a.blogref(href=blog.link)
            h5 !{blog.title}
            div.blogimg(style="background-image: url('" + blog.image + "')")
            p !{blog.tagline}
  .slide.row.align-middle(data-anchor="teamGraph",data-scrollax="properties: { 'translateX': '-20%' }")
    .small-12.large-12.columns
      center
        header
          h2 Wij
        #teamTree
        #teamInfo.row
          .large-3.show-for-large
          .small-12.large-6
            h3#teamName
            p#teamTagline
            p#teamDesc
          .large-3.show-for-large
        a.scroll-button.button.codestar-button(href='#join') Jij?
  .slide(data-anchor="galleryA")
    .small-12.large-12.columns
      center
        header
          h2 Onze Momenten
      .gallerycontainer.normalscroll
        #gallery(style="display:none;")
          - var images = require('../data/gallery.json')
          each image in images
            img(src="thumb_"+image.img,alt=image.descr,data-image=image.img,data-description=image.descr)
  .slide(data-anchor="launchevent")
    .small-12.large-12.columns
      center
        header
          h2 Launch Event
      .gallerycontainer.normalscroll
        #gallery-launchevent(style="display:none;")
          - var images = require('../data/galleryLaunchEvent.json')
          each image in images
            img(src="thumb_"+image.img,alt=image.descr,data-image=image.img,data-description=image.descr)
  .slide(data-anchor="akkathon")
    .small-12.large-12.columns
      center
        header
          h2 Akkathon
      .gallerycontainer.normalscroll
        #gallery-akkathon(style="display:none;")
          - var images = require('../data/galleryAkkathon.json')
          each image in images
            img(src="thumb_"+image.img,alt=image.descr,data-image=image.img,data-description=image.descr)


