#fixed-menu.fixed-menu
    div.asterisk
      div.hamburger.hamburger--vortex
        div.hamburger-box
          div.hamburger-inner
      img#menu-logo(src='logo-simple-menu.svg')
    a(style='font-variant:small-caps;background-color:rgba(255,255,255,0.5);display:inline-block;padding:2px;color:#030815;',href=locals.config.switch.link) #{locals.config.switch.label.toUpperCase()}
    ul.menu.vertical
        li
            a.scroll-button(href='#join') #{locals.config.tokens.menu.YOU}?
        li
            a.scroll-button(href='#team/teamGraph') #{locals.config.tokens.menu.WE}
            ul
                li
                    a.scroll-button(href='#team/ourstuff') Our Stuff
                li
                    a.scroll-button(href='#team/videos') Videos
                li
                    a.scroll-button(href='#team/galleryA') #{locals.config.tokens.menu.OUR_MOMENTS}
                li
                    a.scroll-button(href='#team/launchevent') Launch Event
                li
                    a.scroll-button(href='#team/akkathon') Akkathon
        li
            a.scroll-button(href='#why-work') #{locals.config.tokens.menu.THIS_IS_WHY_YOU_WANT_TO_CODE_WITH_US}
        li
            a.scroll-button(href='#attract') #{locals.config.tokens.menu.WE_CODE}
        li.menu_divider
        li
            a.scroll-button(href='#center') Home
        li.menu_divider
        li
            a.scroll-button(href='#difference') #{locals.config.tokens.menu.TIME_TO_TAKE_THE_NEXT_STEP}
        li
            a.scroll-button(href='#features') #{locals.config.tokens.menu.WHY_WHAT_WE_DO_DOES_WORK}
        li
            a.scroll-button(href='#cases') Cases
        li
            a.scroll-button(href='#contact') Contact
